
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
    padding: 0; 
    color: purple;
}

body {
    margin: 0;
    min-height: 100vh;
    width : 100%;
}
    #root {
    height: 100vh;
    width: 100%;
    /* border: red solid 2px; */
    background-color: rgba(228, 247, 242, 0.934);
    justify-content: space-evenly;
    display: block;
}

.container {
    margin: 2rem;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: solid 2px black;

}

    .nav {
    width: 100%;
    height: 4rem;
    gap: 2rem;
    padding: 0 2rem;
    background: #e4e1f2;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    z-index: 100;
}

.logo {
    display: flex;
    align-content: center;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: none;
}

.site-title{
    margin: 0;
    font-size: 4rem;
    font-weight: 450;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    position: relative;
    font-size: 20px;
    color: purple;
    font-weight: 400;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.nav li.active {
    background-color: white;
}
.nav li:hover {
    background-color: #f7f1f5cc;
}


.mainContainer {
    height: 90%;
    width: 90%;
    display: flex;
    margin: 0;
    padding: 0;
}

.mainPicture {
    background-image:url(https://images.pexels.com/photos/2985098/pexels-photo-2985098.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.mainOpening {
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    color:darkslategrey;
}
/* 
.app {
    height: 100%;
    width: 95%;
    background-color:#c8e0da;
    margin: 40px 50px;
    position: relatvie;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border: solid red 3px;
}

 .app .card {
    display: flex;
    margin-top: 150px;
    box-sizing: border-box;
    border-color: rgb(192, 230, 231);
    width: 100px;
    height: 150px;
    justify-content: center;
    align-items: center;
    padding:10px 10px;
    border: blue 2px solid;

}

.view {
    height: 30px;
    width: 50px;
    color: black;
    background-color: rgb(247, 208, 234);
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border: solid white 1px
} */